<section class="login flex items-center justify-center">
<form class="container mx-auto w-1/4 " action="/login" method="POST">
    <!-- component -->
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
  <% if(messages.error){ %>
  <span class="err-msg text-red-500 text-small p-1"><%= messages.error %></span>
  <% } %>
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="email" placeholder="Email" name="email">
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border  rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" placeholder="******************" name="password">
    </div>
    <div class="flex items-center justify-between">
      <button class="order-btn text-white font-bold py-2 px-4 rounded" type="submit">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/register">
        Dont have Account
      </a>
    </div>
</div>
</form>
</section>