<nav class="py-4">
    <div class="container mx-auto flex items-center justify-between">
    <div class="logo">
       <a href="/home"> <img src="https://www.flaticon.com/svg/static/icons/svg/432/432339.svg" alt="pizza-logo" style="width: 55px;"></a>
    </div>
    <div class="nav-links">
        <ul class="flex items-center"> 
           <li class="ml-6"><a href="/menu">Menu</a></li>
           <li class="ml-6"><a href="/offers">Offers</a></li>
           <li class="ml-6"><a href="/register">Register</a></li>
           <li class="ml-6"><a href="/login">Login</a></li>
           <li class="ml-6"><a href="/cart"><span id="cart-counter" class="text-white px-2 rounded-full"><%= session.cart ? session.cart.totalQty : '' %></span><i class="fas fa-shopping-cart fa-2x p-2"><span id="cart-item"></span></i></a></li>
        </ul>
    </div>
</div>
</nav>