<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="left w-1/2">
            <h6 class="text-lg"><em>Pizza Lover??</em></h6>
            <h1 class="text-6xl font-bold">Less <span style="color:#Fe5f1e;">Waiting</span><span style="color:black;">!</span></h1>
            <h1 class="text-6xl font-bold"><span style="color:#Fe5f1e;">More</span> Eating<span style="color:#Fe5f1e;">..</span></h1>
            <button class="px-4 py-2 rounded-full text-white font-bold mt-4 order-btn">Order Now</button>
        </div>
        <div class="right w-1/2">
            <img src="img/hero-pizza.png" alt="">
        </div>
    </div>
</section>

<!-- menu -->
<section class="menu container mx-auto py-8">
<h1 class="text-xl font-bold mb-8">All Pizzas</h1>

 <!-- cards -->

<div class="grid grid-cols-4 ">
    <div class="w-64">
        <img src="/img/piz1.jpg" alt="pizza-1" class="h-40 mb-4 mx-auto">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
            <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">255 Rs</span>
                <button class="btn-cart rounded-full p-2 flex items-center font-bold"><span>+</span><span>add</span></button>
            </div>
        </div>
    </div>
    <div class="w-64">
        <img src="/img/piz1.jpg" alt="pizza-1" class="h-40 mb-4 mx-auto">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
            <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">255 Rs</span>
                <button class="btn-cart rounded-full p-2 flex items-center font-bold"><span>+</span><span>add</span></button>
            </div>
        </div>
    </div>
    <div class="w-64">
        <img src="/img/piz1.jpg" alt="pizza-1" class="h-40 mb-4 mx-auto">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
            <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">255 Rs</span>
                <button class="btn-cart rounded-full p-2 flex items-center font-bold"><span>+</span><span>add</span></button>
            </div>
        </div>
    </div>
    <div class="w-64">
        <img src="/img/piz1.jpg" alt="pizza-1" class="h-40 mb-4 mx-auto">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
            <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">255 Rs</span>
                <button class="btn-cart rounded-full p-2 flex items-center font-bold"><span>+</span><span>add</span></button>
            </div>
        </div>
    </div>
    <div class="w-64">
        <img src="/img/piz1.jpg" alt="pizza-1" class="h-40 mb-4 mx-auto">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
            <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">255 Rs</span>
                <button class="btn-cart rounded-full p-2 flex items-center font-bold"><span>+</span><span>add</span></button>
            </div>
        </div>
    </div>
    <div class="w-64">
        <img src="/img/piz1.jpg" alt="pizza-1" class="h-40 mb-4 mx-auto">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
            <div class="flex items-center justify-around mt-4">
                <span class="font-bold text-lg">255 Rs</span>
                <button class="btn-cart rounded-full p-2 flex items-center font-bold"><span>+</span><span>add</span></button>
            </div>
        </div>
    </div>
</div>
</section>