@import'./variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
body{
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing:antialiased;
    color: $dark;
}
nav{
    position: sticky;
    top: 0;
    background: $pure;
}
nav li:last-child{
    color: $primary;
}
.fa-shopping-cart:hover{
    color: $pure;
    background: $primary;
    border-radius: 30px;
    transition: $smooth;
}
.nav-links li a{
    &:hover{
        color: $primary;
        transition: $smooth;
    }
}
section.hero{
    background: $secondary;
}
.size{
    background: $secondary;

}
.btn-cart{
    border: 2px solid $primary;
    color: $primary;
    &:hover{
        background: $primary;
        border: 2px solid $gray;
        color: $pure;
        transition: $smooth;
    }
    &:focus{
        outline: none;
    }
}
.grid-cols-4{
    grid-gap: 40px;

}
.order-btn{
    background: $primary;
    &:hover{
        transform: scale(1.1);
        background:$primary-hover;
        transition:$smooth;
    }
}
.cart{
    background: $secondary;
    .amount{
        color:$primary;
    }
}
section.login{
    background: $secondary;
    min-height: calc(100vh - 90px);
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

#cart-counter{
    position: absolute;
    background: $primary;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);
}
.pizza-container{
    padding: 1rem 0.3rem;
    transition:$smooth;
    &:hover{
        background: rgb(247, 244, 244);
        border-radius: 5px;
        transition:$smooth;
    }
}
.err-msg{
    background: rgba(241, 95, 115, 0.342);
    border-radius: 2px;
    text-align: center;
}
#addComment{
    box-shadow: 6px 6px 12px rgba(243, 128, 75, 0.446);
}
.modal{
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.342);  
    background: #fff; 
}
.modal-con{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -1150px;
    transition: $smooth;
}
.show{
    top: 0;
    transition: $smooth;
}
.link{
    color: $primary;
}