<section class="orders light-section">
    <div class="container mx-auto pt-12">
      <h1 class="font-bold text-lg mb-4">Your All orders</h1> 
      <% if(messages.success){ %>
      <div id="succes-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
         <p><%= messages.success%></p>
      </div>
      <% } %>
      <table class="w-full table-auto bg-white">
          <% if(!orders.length){ %>
             <tr>Hmm!, No order found</tr>
            <% } else { %>
          
         <thead>
             <tr>
              <th class="px-4 py-2 text-left">Orders</th>
              <th class="px-4 py-2 text-left">Address</th>
              <th class="px-4 py-2 text-left">Time</th>
             </tr>
         </thead>
         <% orders.slice().reverse().forEach(order=>{ %>
         <tbody>
             <tr>
                 <td class="border px-4 py-2"><a href="" class="link"><%= order._id %></a></td>
                 <td class="border px-4 py-2">Shiv sai appt</td>
                 <td class="border px-4 py-2"><%= moment(order.createdAt).format('MMMM Do YYYY,h:mm:ss A') %></td>

             </tr>
         </tbody>
         <% }) } %>
      </table>
    </div>
</section>