

<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
             <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track your Order status</h1>
                <h2 class="bg-white p-2 text-green-600 rounded-full"> <span class=" font-bold" style="color: black;">OrderId: </span><%= order._id %></h2>
             </div>
             <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
            <ul>
                <li class="status_line text-sm md:text-xl pb-14 " data-status="order_placed"><span>Order placed</span></li>
                <li class="status_line text-sm md:text-xl pb-14 "data-status="confirmed"><span>Confirmation</span></li>
                <li class="status_line text-sm md:text-xl pb-14" data-status="prepared"><span>Preapred</span></li>
                <li class="status_line text-sm md:text-xl pb-14" data-status="delivered"><span>Out for delivery</span></li>
                <li class="status_line text-sm md:text-xl " data-status="completed"><span>Completed</span></li>
            </ul>
        </div>
    </div>
</section>